# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Use 2 spaces for indentation in most files
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Specific settings for JavaScript, TypeScript, and JSON files
[*.js, *.jsx, *.ts, *.tsx, *.json]
indent_size = 2

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false

# Specific settings for YAML files
[*.yml, *.yaml]
indent_size = 2